.txtdigitado {
    position: relative;

    width: 300px;
    font-family: sans-serif;
    font-weight: bolder;
}

.txtdigitado p {
    position: relative;
    display: flex;
    align-items: start;
    text-align: start;
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    white-space: nowrap;
    letter-spacing: 1px;

}

.txtdigitado p span {
    margin-left: 5px;
    position: relative;
    width: 100%;
}



.txtdigitado p span::before {
    content: "";
    /*letras que passam*/
    color: red;
    animation: txtanimado 10s infinite;
    transition: all 0.5s linear;
}

.txtdigitado p span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid black;
    right: -135px;
    width: calc(100% + 100px);
    background-color: white;
    animation: digita 10s infinite steps(15), pisca 0.8s infinite;
}

@keyframes digita {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {

        width: calc(100% + 145px);
    }
}

@keyframes pisca {
    0% {
        border-left: 2px solid white;
    }
}

@keyframes txtanimado {

    0%,
    20% {
        content: " sou Roberto Eduardo Melara";
    }

    21%,
    40% {
        content: " sou desenvolvedor web";
    }

    41%,
    60% {
        content: " crio APPS mobile";
    }

    61%,
    80% {
        content: " crio aplicações desktop"
    }

    81%,
    100% {
        content: "vamos desenvolver uma app?";
    }
}